<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class='error-heading'>Page Not Found</h1>
    <p class='error-paragraph'>We're sorry but that page cannot be found.  Please try again.</p>

<%- include('includes/end.ejs') %>