<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class='error-heading'>Pardon our mess</h1>
    <p class='error-paragraph'>An internal error occurred and we're working as quickly as we can to fix it. Please check back soon</p>

<%- include('includes/end.ejs') %>